@import url('https://fonts.googleapis.com/css?family=Aclonica|Amatic+SC|Arizonia|Bangers|Cinzel|IM+Fell+English+SC|Indie+Flower|Kristi|Permanent+Marker|Pompiere|Reenie+Beanie|Rock+Salt|Rye|Sedgwick+Ave|Shadows+Into+Light+Two&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IM Fell English SC';
}

.h1 {
  font-family: 'Permanent Marker';
}

.controls {
  font-size: 20px;
}

#captain-haddock {
  /* width: 20%; */
}

canvas {
  background-image: url('./images/edinburghcastlelow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#text-box {
  background-color: rgba(242, 236, 218, 0.7);
  border-radius: 20px;
}

#game-over-page {
  background-color:gray;
  background-position: center center;
  display: none;
}

#game-over-text {
  font-size: 90px;
}

#you-won-page {
  background-color:gray;
  background-position: center center;
  display: none;
}

#you-won-text {
  font-size: 90px;
}

#control-icon {
  font-size: 40px;
}